@using OutOfSchool.RazorTemplatesData.Models.Emails
@using OutOfSchool.RazorTemplatesData.Models.Shared
@model AdminInvitationViewModel

@{
    ViewData["EmailTitle"] = "Запрошення!";
}

<p>Для реєстрації на платформі перейдіть за посиланням та заповніть ваші дані в особистому кабінеті.</p>

<br />

<p>Логін: @Model.Email</p>

<br />

<p>Пароль:  @Model.Password</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Confirm Email", Model.ConfirmationUrl))