@using OutOfSchool.RazorTemplatesData.Models.Emails
@using OutOfSchool.RazorTemplatesData.Models.Shared
@model AdminInvitationViewModel

@{
    ViewData["EmailTitle"] = "Запрошення!";
}
<main class="wrapper">
    <div class="container">
        <div class="content">
            <!-- <p class="text">Вас додали як адміністратора наступних гуртків <список гуртків> <br> для <назва школи>.</p> -->
            <p class="text">Для реєстрації на платформі перейдіть за посиланням та заповніть ваші дані в особистому кабінеті.</p>
            <div class="login">
                Логін: <span> @Model.Email </span>, 
                Пароль: <span> @Model.Password </span>
            </div>
            @await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Залогінитись", Model.ConfirmationUrl))
        </div>
    </div>
</main>
