@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.ChangeEmailViewModel

@{
    ViewData["Title"] = SharedLocalizer["Change email"];
    Layout = "_Layout";
}

<h1 class="icon_title">@SharedLocalizer["ЗМІНИТИ ЕМЕЙЛ"].Value.ToUpper()</h1>

<h3 class="instruction">@SharedLocalizer["Введіть ваш новий емейл на який буде надіслана інструкція по зміні емейлу."].Value.ToUpper()</h3>
<div class="option">
    <p>@SharedLocalizer["Зверніть увагу, що після зміни емейлу ви не матимете змоги увійти у систему зі старим емейлом."].Value.ToUpper()</p>
<div>
<div class="wrapper">
    <form asp-action="ChangeEmail" class="login__wrapper">
        <input type="hidden" asp-for="ReturnUrl" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <ul class="registration_list">
            <li class="registration_item">
                <label asp-for="CurrentEmail" class="registration_label"></label>
                <input asp-for="CurrentEmail" class="registration_input" />
                <span asp-validation-for="CurrentEmail" class="text-danger"></span>
            </li>
            <li class="registration_item">
                <label asp-for="Email" class="registration_label"></label>
                <input asp-for="Email" class="registration_input" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </li>
        <li class="registration_item">
            <input class="registration_cancel registration_button"/>
            <input type="submit" value="Save" class="registration_submit registration_button"/>
        </li>
        </ul>
    </form>
</div>
