@using OutOfSchool.IdentityServer

@model OutOfSchool.IdentityServer.ViewModels.ChangeEmailViewModel

@{
    ViewData["Title"] = "Change email";
    Layout = "_Layout";
}

<h1>ChangeEmail</h1>

<h4>ChangeEmailViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentEmail" class="control-label"></label>
                <input asp-for="CurrentEmail" class="form-control" />
                <span asp-validation-for="CurrentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
