@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Confirm email"];
    Layout = "_Layout";
}

<h3 class="instruction">@SharedLocalizer["Confirm email"]</h3>
