@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Confirm email";
}
<div class="wrapper">
    <h3 class="option">@SharedLocalizer["Емейл підтвердження."].Value.ToUpper()</h3>
</div>
