@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Confirm email"];
    Layout = "_Layout";
}
<div class="wrapper modal">
    <h3 class="instruction">@SharedLocalizer["Confirm email"]</h3>
</div>
