@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Confirm email change"];
    Layout = "_Layout";
}

<h2 class="title">@SharedLocalizer["Change email"]</h2>
    @* TODO: Generate message based on new mail *@
<h3 class="instruction">@SharedLocalizer["Інструкція зі зміни емейлу була надіслана на andrii.koval@gmail.com. Зайдіть на емейл і виконайте дії вказані в листі."]</h3>
