@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Confirm email"];
    Layout = "_Layout";
}
<div class="wrapper_body">
    <div class="wrapper">
        <h3 class="instruction">@SharedLocalizer["Confirm email"]</h3>
    </div>
</div>