@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.AuthCommon

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.AuthCommon.ViewModels.ChangeEmailViewModel

@{
    ViewData["Title"] = SharedLocalizer["Confirm email change"];
    Layout = "_Layout";
}
<div class="wrapper_body">
    <div class="wrapper">
        <h2 class="title">@SharedLocalizer["Change email"]</h2>
        <h3 class="instruction">@SharedLocalizer[@"Change email {0} sent", Model.CurrentEmail]</h3>
    </div>
</div>