@using OutOfSchool.RazorTemplatesData.Models.Emails
@model ApplicationStatusViewModel

<main class="container">
    <div class="content">
        <h1 class="title">Відмовлено</h1>
        <p class="text">На жаль,</p>
        <p class="text">@Model.ChildFullName</p>
        <p class="text">не може бути зарахован@(Model.UaEnding) до</p>
        <p class="text">
            <a href="@Model.WorkshopUrl" target="_blank">"@Model.WorkshopTitle"</a>
        </p>
        <p class="text">Причина:"@Model.RejectionMessage"</p>
    </div>
</main>
