apiVersion: v2
name: elastic
description: A Helm chart for Elastic & optional Kibana & Logging Agent Vector

type: application

version: 7.17.3

appVersion: "7.16.3"

dependencies:
  - name: elasticsearch
    version: 7.17.3
    repository: https://helm.elastic.co
  - name: kibana
    version: 7.17.3
    condition: kibana.enabled
    repository: https://helm.elastic.co
  - name: vector
    version: 0.20.1
    condition: vector.enabled
    repository: https://helm.vector.dev
  - name: metricbeat
    version: 7.17.3
    condition: metricbeat.enabled
    repository: https://helm.elastic.co

