@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.AuthCommon

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Confirm email"];
    Layout = "_Layout";
}

@model OutOfSchool.AuthCommon.ViewModels.RegisterViewModel

<div class="wrapper_body">
    <div class="wrapper">
        <h2 class="title">@SharedLocalizer["Confirm email"]</h2>
        <h3 class="instruction">@SharedLocalizer["Confirm email {0} sent", Model.Email]</h3>
        <div class="registration_item">
            <a href="@(Model.ReturnUrl)" class="registration_submit registration_button">
                @SharedLocalizer["Entrance to Extracurricular activities"]
            </a>
        </div>
    </div>
</div>