@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.LoginViewModel
@{
    ViewData["Title"] = SharedLocalizer["EntranceToExtracurricularActivities"];
    Layout = "_Layout";
}
<title>Увійти/Зареєструватися</title>
<div class="main-wrap">
<div class="wrapper">
    <h3 class="title">УВІЙТИ </h3>
<div class="social">
    <button class="button">
        <img src="/icons/fb.png" alt="facebook">
    </button>
    <button class="button">
        <img src="/icons/google.png" alt="google">
    </button>
</div>
    <div class="option">або заповніть форму</div>

@* <form asp-controller="Auth" asp-action="ExternalLogin" *@
@*       asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
@*     @foreach (var provider in Model.ExternalProviders) *@
@*     { *@
@*         <button name="provider" *@
@*                 type="submit" *@
@*                 value="@provider.Name"> *@
@*             @provider.Name *@
@*         </button> *@
@*     } *@
@* </form> *@

<form class="wrapper wrapper-login" asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div class="login-input">
        <label class="label">Емейл</label>
        <input class="input" asp-for="Username"/>
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label class="label">Пароль</label>
        <input class="input input-password" asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <div login-submit>
       <input class="submit" type="submit" value="УВІЙТИ">
    </div>
    <div class="login">
<span>Ще не зареєстровані?</span>
    <a class="link" asp-controller="Auth" asp-action="Register"
       asp-route-returnUrl="@Model.ReturnUrl">
        Зареєструватися
    </a>
</div>
</form>
</div>
</div>