@model OutOfSchool.IdentityServer.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
}
<div class="registration_wrapper">
    <h3 class="registration_title">УВІЙТИ</h3>
<div class="registration_social">
    <button class="registration_button">
        <img src="/icons/fb.png" alt="facebook">
    </button>
    <button class="registration_button">
        <img src="/icons/google.png" alt="google">
    </button>
</div>
    <div class="registration_option">або заповніть форму</div>
</div>
@* <form asp-controller="Auth" asp-action="ExternalLogin" *@
@*       asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
@*     @foreach (var provider in Model.ExternalProviders) *@
@*     { *@
@*         <button name="provider" *@
@*                 type="submit" *@
@*                 value="@provider.Name"> *@
@*             @provider.Name *@
@*         </button> *@
@*     } *@
@* </form> *@

<form class="registration_wrapper" asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div>
        <label class="login__label">Емейл</label>
        <input class="login__input" asp-for="Username"/>
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label class="login__label">Пароль</label>
        <input class="login__input" asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <button class="login__button" type="submit">УВІЙТИ</button>
    </div>
</form>
<div class="login__wrapper">
    <a class="login__link" asp-controller="Auth" asp-action="Register"
       asp-route-returnUrl="@Model.ReturnUrl">
        Register
    </a>
</div>