@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] =  SharedLocalizer["Change password confirmation"];
    Layout = "_Layout";
}

<div class="wrapper">
    <h1 class="icon_title">@SharedLocalizer["ЗМІНИТИ ПАРОЛЬ"]</h1>

    <h3 class="instruction">@SharedLocalizer["Ваш пароль було змінено."]</h3>
</div>