@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] =  SharedLocalizer["Change password confirmation"];
    Layout = "_Layout";
}

<div class="wrapper modal">
    <h2 class="icon_title">@SharedLocalizer["Change password"]</h2>

    <h3 class="instruction">@SharedLocalizer["Your password was changed"]</h3>
</div>