@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] =  SharedLocalizer["Forgot password"];
    Layout = "_Layout";
}

<div class="wrapper" >
<h1 class="icon_title">@SharedLocalizer["Forgot password"].Value.ToUpper()</h1>

<h3 class="instruction">@SharedLocalizer["Enter email to change password"].Value.ToUpper()</h3>

    <form asp-action="ForgotPassword" class="wrapper">
        <input type="hidden" asp-for="ReturnUrl" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <ul class="registration_list">
            <li class="registration_item">
                <label class="registration_label">@SharedLocalizer["Email"]</label>
                <input class="registration_input" asp-for="Email" autocomplete="password" aria-required="true" />
                <div>
                    <span asp-validation-for="Email"></span>
                </div>
            </li>
        <li class="registration_item">
            <input type="submit" value="Reset password" class="registration_submit registration_button"/>
        </li>
        </ul>
    </form>
</div>
