@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] =  SharedLocalizer["Forgot password confirmation"];
    Layout = "_Layout";
}

<div class="wrapper modal">
<h2 class="icon_title">@SharedLocalizer["Reset password confirmation"]</h2>

    <h3 class="instruction">@SharedLocalizer["Check your email for instructions"]</h3>
</div>