@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] =  SharedLocalizer["Reset password confirmation"];
    Layout = "_Layout";
}

<div class="wrapper modal">
    <h2 class="icon_title">@SharedLocalizer["Reset password"]</h2>

    <h3 class="instruction">@SharedLocalizer["Your password has been reset"]</h3>
</div>
