@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] =  SharedLocalizer["Reset password confirmation"];
    Layout = "_Layout";
}

<div class="wrapper">
    <h1 class="icon_title">@SharedLocalizer["ВІДНОВИТИ ПАРОЛЬ"]</h1>

    <h3 class="instruction">@SharedLocalizer["Ваш пароль було відновлено"]</h3>
</div>

