@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.AuthCommon

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Consent Title"];
    Layout = "_Layout";
}

<div class="wrapper_body">
    <div class="wrapper">
        <h1 class="header icon_title">
            Згода<br />
            на обробку персональних даних
        </h1>
        <div class="main">
            <p>
                Я, _____________________________________________________________________________,<br />
                <sup class="sup">(прізвище, ім&apos;я, по батькові одного з батьків)</sup><br />
                народився &quot____&quot _____________ _____ р.н., документ, що посвідчує особу (серія (у разі
                наявності) ________ № ___________), виданий ___________________________________
                ________________________________________________________________________________,
                відповідно до Закону України &quotПро захист персональних даних&quot (далі - Закон) даю згоду
                на:
            </p>
            <p>
                обробку моїх персональних даних з первинних джерел у такому обсязі: паспортні дані,
                особисті відомості (вік, стать, родинний стан, склад сім&apos;ї тощо), відомості щодо місця
                проживання: фактичне та за державною реєстрацією, біографічні дані, номери телефонів;
            </p>
            <p>
                також як ________________________________________________________________________<br />
                <sup class="sup">(зазначити батько/мати/законний представник)</sup><br>
                даю згоду позашкільному закладу освіти на обробку персональних даних дитини
                ________________________________________________________________________________,<br />
                <sup class="sup">(прізвище, ім&apos;я, по батькові дитини)</sup><br>
                документ, що посвідчує особу (паспорт/ID картка/свідоцтво про народження дитини) серія
                (у разі наявності) __________ № _____________, (необхідне підкреслити, який документ
                посвідчення особи дитини ви зазначили)
                виданий/видане ____________________________,
                у тому числі із застосуванням автоматизованих засобів, ідентифікаційних даних
                (прізвище, ім&apos;я, по батькові, адреса, місце навчання тощо), паспортних даних та/або даних
                свідоцтва про народження, висновку про комплексну психолого-педагогічну оцінку
                розвитку дитини та інших даних з метою визначення потенційних можливостей та
                особливих освітніх потреб дитини.
            </p>
            <p>
                я повідомлений, що під обробкою персональних даних відповідно до Закону розуміється
                будь-яка дія або сукупність дій, здійснюваних повністю або частково в інформаційній
                автоматизованій системі та/або в картотеках персональних даних, які пов&apos;язані зі
                збиранням, реєстрацією, накопиченням, зберіганням, датуванням, зміною, відновленням,
                використанням та поширенням, знеособленням, знищенням відомостей про суб&apos;єкта
                персональних даних в базі даних;
            </p>
            <p>
                використання персональних даних, що передбачає дії володільця персональних даних
                щодо їх обробки, в тому числі використання персональних даних відповідно до їх
                професійних чи службових або трудових обов&apos;язків, дії щодо їх захисту, а також дії щодо
                надання часткового або повного права на обробку персональних даних іншим суб&apos;єктам
                відносин, пов&apos;язаних із персональними даними (стаття 10 Закону);
            </p>
            <p>
                поширення персональних даних, що передбачає дії володільця персональних даних щодо
                передачі відомостей про фізичну особу (стаття 14 Закону);
            </p>
            <p>
                доступ до персональних даних третіх осіб, що визначає дії володільця персональних даних
                у разі отримання запиту від третьої особи щодо доступу до персональних даних, доступ
                суб&apos;єкта персональних даних до відомостей про себе (стаття 16 Закону).
            </p>
            <p class="footer">
                <span>&quot___&quot ____________ 20____ р.</span>
                <span class="sign">
                    ___________________<br>
                    <sup>(підпис)</sup>
                </span>
            </p>
        </div>
    </div>
</div>
