@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.AuthCommon

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Terms of use Title"];
    Layout = "_Layout";
}

<div class="wrapper_body">
    <div class="wrapper">
        <h1 class="icon_title">
            Шановні надавачі!
        </h1>
        <div class="gdtr_text">
            <p>
                На сайті автоматизованої інформаційної системи &quotПозашкілля&quot ви маєте можливість подати
                заяви для зарахування дитини до закладів позашкільної освіти, які наявні в системі.
            </p>
            <p>
                Для успішної реєстрації та подачі заяви на зарахування вам необхідно вказати достовірну інформацію.
            </p>
            <p>
                Після подання заяви в електронному вигляді, представник закладу позашкільної освіти її опрацьовує та
                проводить аналіз відповідності даних в заяві та приймає рішення про зарахування або відмови (у разі
                конкурсного відбору) у зарахуванні дитини до закладу позашкільної освіти, із зазначенням причин такої
                відмови.
            </p>
            <p>
                За результатами позитивного висновку, отриманого після проходження оцінки відповідності заяви умовам
                зарахування до закладу позашкільної освіти, ви зможете звернутися до обраного вами закладу позашкільної
                освіти для подачі оригіналів документів.
            </p>
        </div>
    </div>
</div>