@using Microsoft.AspNetCore.Identity
@model RegisterViewModel
@{
    Layout = "_Layout";
}
<form class="login__wrapper" asp-controller="Auth" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="AllRoles" />
    <div>
        <label class="login__label">Username</label>
        <input class="login__input" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label class="login__label">Password</label>
        <input class="login__input" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label class="login__label">Confirm Password</label>
        <input class="login__input" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <label class="login__label">PhoneNumber</label>
        <input class="login__input" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label class="login__label">Email</label>
        <input class="login__input" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            @Html.RadioButtonFor(model => model.UserRoleId, role.Id) @role<br />
        }
    </div>
    <div>
        <button class="login__button" type="submit">Sign Up</button>
    </div>
</form>
<div class="login__wrapper">
    <a class="login__link" asp-controller="Auth" asp-action="Login"
   asp-route-returnUrl="@Model.ReturnUrl">Back to Login</a>
</div>