@using Microsoft.AspNetCore.Identity
@model RegisterViewModel

<form asp-controller="Auth" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="AllRoles" />
    <div>
        <label>Username</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <label>PhoneNumber</label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            @Html.RadioButtonFor(model => model.UserRoleId, role.Id) @role<br />
        }
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<a asp-controller="Auth" asp-action="Login"
   asp-route-returnUrl="@Model.ReturnUrl">Back to Login</a>