@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.AuthCommon

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.AuthCommon.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] =  SharedLocalizer["Forgot password confirmation"];
    Layout = "_Layout";
}

<div class="wrapper_body">
    <div class="wrapper">
        <h2 class="title">@SharedLocalizer["Reset password confirmation"]</h2>

        <h3 class="instruction">@SharedLocalizer["Check your email for instructions"]</h3>
        
        <div class="title">
            <span>Згадали пароль? <a class="link" asp-controller="Auth" asp-action="Login">@SharedLocalizer["Sign In"]</a></span>
        </div>
    </div>
</div>
