<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="header">
            <img class="header__logo" src="OutOfSchool/OutOfSchool.RazorTemplatesData/wwwroot/images/Header.png" alt="header">
        </header>
        <div>
            @RenderBody()
        </div>
        <footer>
            <div class="footer">
                <div>
                    <a target="_blank" rel="noreferrer" href="https://mon.gov.ua/">
                        <img class="min-logo" src="OutOfSchool/OutOfSchool.RazorTemplatesData/wwwroot/images/MES.png" alt="Ministry of Education and Science of Ukraine">
                    </a>
                    <a target="_blank" rel="noreferrer" href="https://mkip.gov.ua/">
                        <img class="min-logo" src="OutOfSchool/OutOfSchool.RazorTemplatesData/wwwroot/images/MinCultInfoPolicy.png" alt="Ministry of Culture and Information Policy of Ukraine">
                    </a>
                    <a target="_blank" rel="noreferrer" href="https://sport.gov.ua/">
                        <img class="min-logo" src="OutOfSchool/OutOfSchool.RazorTemplatesData/wwwroot/images/MinMolodSport.png" alt="Ministry of Youth and Sports of Ukraine">
                    </a>
                </div>
                <div class="footer-block">
                    <a target="_blank" rel="noreferrer" href="https://www.softserveinc.com/uk-ua/">
                        <img class="company-logo" src="OutOfSchool/OutOfSchool.RazorTemplatesData/wwwroot/images/Vector.png" alt="SoftServe">
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>