@using  OutOfSchool.RazorTemplatesData.Models.Shared
@model EmailButtonViewModel
<a href="@Model.Url" target="_blank" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #539be2; display: inline-block;">
    <button class="btn">
            @Model.Text
    </button>
</a>
